body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*deixa os elementos um abaixo do outro*/
    color: rgb(21, 112, 21);
}